<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if(!user) { %>
    <h2>Welcom!Please log in.</h2>
    <a href="/auth/google">Login in Google</a>
    <% } else { %>
     <h2>Hello,<%= user.displayName %></h2>
     <a href="/account">Check my Account</a>
    <% }%>
  </body>
</html>
